<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.text_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :firm_id %><br>
    <%= f.text_field :firm_id %>
  </div>
  <div class="field">
    <%= f.label :color_id %><br>
    <%= f.text_field :color_id %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :branch_id %><br>
    <%= f.text_field :branch_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
