<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @item.type.nil? ? nil : @item.type.title %>
</p>

<p>
  <strong>Firm:</strong>
  <%= @item.firm.title %>
</p>

<p>
  <strong>Color:</strong>
  <%= @item.color.nil? ? nil : @item.color.title %>
</p>

<p>
  <strong>Model:</strong>
  <%= @item.model %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @item.branch %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
